@import "variables.scss";

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

// publications
.pubs-container {
  color: $brand-gray;

  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 19px;
    color: $brand-gray;
  }
  .list-inline > li {
    padding-left: 0px;
  }

  h4 {
    // font-family: 'Roboto Condensed', sans-serif;
    padding-top: 1em;
    font-size: 26px;
  }
  a {
    // font-family: 'Roboto Condensed', sans-serif;
    &:hover,
    &:active {
      color: $brand-primary !important;
    }
  }
  
  
}
