@import "variables.scss";

// Sidebar Components

// Large Screen
@media (min-width: 1200px) {
  .post-container,
  .sidebar-container {
    padding-right: 5%;
    height:100%;
  }
}
@media (min-width: 768px) {
  .post-container {
    padding-right: 5%;
    height:100%;
  }
}

.container-top {
  display: flex;
  align-items: flex-end;
  width: 60px;
}

.backtotop {
  position: sticky;
  bottom: 0px;      
  margin-right:10px; 
  
  /* visual styling */
  width:100%;
  aspect-ratio:1;
  background:#ff8b24;
  border-radius:10px;
}
.backtotop:before {
  content:"";
  position:absolute;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:5px solid #fff;
  border-right:5px solid #fff;
}

// Container of Sidebar, also Friends
.sidebar-container {
  color: $gray-light;  
  top:0;
  position: relative;
  z-index: 2;
  
  h5 {
    color: $brand-gray;
    padding-bottom: 0.4em;
    font-size: 20px;
    a {
      color: $brand-gray !important;
      text-decoration: none;
    }
  }
  a {
    color: $gray-light !important;
    &:hover,
    &:active {
      color: $brand-primary !important;
    }
  }
  .tags {
    a {
      border-color: $gray-light;
      &:hover,
      &:active {
        border-color: $brand-primary;
      }
    }
  }
  .short-about {
    img {
      width: 80%;
      height:100%;
      display: block;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 0px;
      margin-bottom: 0px;
      height:100%;
    }
    .list-inline > li {
      padding-left: 0px;
      height:100%;
    }
  }
}
