{{ define "container" }}


<!-- <div class="container" > -->
    <!-- <div class="wow fadeInLeft animated" data-wow-delay="0s" style="background-size: cover; visibility: visible; animation-delay: 0s; animation-name: fadeInLeft;" bis_skin_checked="1"> -->
      <h2>Lab Members</h2>
      <hr />
      <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/vivek_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Vivek Muthurangu</h4>
                <span>Professor of Cardiovascular Imaging and Physics</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/jennifer_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Jennifer Steeden</h4>
                <span>Senior Research Fellow</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/olivier_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Olivier Jaubert</h4>
                <span>Postdoctoral Researcher</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250  src="/img/rebecca_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Rebecca Baker</h4>
                <span>Postdoctoral Researcher</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/tina_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Tina Yao</h4>
                <span>PhD student</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/michele_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Michele Pascale</h4>
                <span>PhD student</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
</div>

<h3>Collaborators</h3>
<hr />

<p><strong>Person Name</strong>, Person at Institution</p>

<p><strong>Person Name</strong>, Person at Institution</p>
    
<h3>Previous Members</h3>
<hr />

<p><strong>Person Name</strong>, Postdoctoral Fellow 2016 - 2022<br>
Next position: New Job</p>

<p><strong>Person Name</strong>, Postdoctoral Fellow 2016 - 2022<br>
Next position: New Job</p>


</div>

</div>
</div>
{{end}}
