{{ define "container" }}


<!-- <div class="container" > -->
    <!-- <div class="wow fadeInLeft animated" data-wow-delay="0s" style="background-size: cover; visibility: visible; animation-delay: 0s; animation-name: fadeInLeft;" bis_skin_checked="1"> -->
      <h2>Lab Members</h2>
      <hr />
      <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/vivek_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Vivek Muthurangu</h4>
                <span>Professor of Cardiovascular Imaging and Physics</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/jennifer_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Jennifer Steeden</h4>
                <span>Senior Research Fellow</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/olivier_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Olivier Jaubert</h4>
                <span>Postdoctoral Researcher</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250  src="/img/rebecca_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Rebecca Baker</h4>
                <span>Postdoctoral Researcher</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/tina_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Tina Yao</h4>
                <span>PhD student</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 250 height = 250   src="/img/michele_pic.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Michele Pascale</h4>
                <span>PhD student</span>
                <p>I am interested in ... research.</p>
              </div>
            </div>
          </div>
        </div>


        <hr />
  <div class="wow fadeInLeft" data-wow-delay="0.25s">
    <h3>National and International Collaborators</h3>

    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="f-profile" style="margin-bottom: 40px">
          <div class="row">
            <div class="col-md-4">
              <div class="fp-wrap gray">
                <div
                  class="fpw-overlay-btm"
                  style="background-color: rgba(1, 125, 252, 0.3)"
                ></div>
                <img width = 200 height = 200 src ="https://d33wubrfki0l68.cloudfront.net/cf54f2fbc95e6a062093e43ae5f2753afcd1a8d7/11c67/images/honghan_profile.jpeg"
                  class="fp-image img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-8">
              <h4 style="margin-top: 0">Associate Prof Honghan Wu</h4>
              <span>Principal Investigator UCL</span>
              <p></p>
              
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="f-profile" style="margin-bottom: 40px">
          <div class="row">
            <div class="col-md-4">
              <div class="fp-wrap gray">
                <div
                  class="fpw-overlay-btm"
                  style="background-color: rgba(1, 125, 252, 0.3)"
                ></div>
                <img width = 200 height = 200 src ="https://d33wubrfki0l68.cloudfront.net/12de64c2b03e8533489ec442eb3ab41de81adf39/88e2d/images/peter_profile.jpeg"
                  class="fp-image img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-8">
              <h4 style="margin-top: 0">Prof Peter Krawitz</h4>
              <span>Principal Investigator University of Bonn</span>
              <p></p>
              
              
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="f-profile" style="margin-bottom: 40px">
          <div class="row">
            <div class="col-md-4">
              <div class="fp-wrap gray">
                <div
                  class="fpw-overlay-btm"
                  style="background-color: rgba(1, 125, 252, 0.3)"
                ></div>
                <img width = 200 height = 200 src ="https://d33wubrfki0l68.cloudfront.net/bdaf8683800816a8f7f7d07aa27da476df5cd28d/bf926/images/kaoru_profile.png"
                  class="fp-image img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-8">
              <h4 style="margin-top: 0">Prof Kaoru Fujinami</h4>
              <span>Principal Investigator Tokyo Medical Centre</span>
              <p></p>
              
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="f-profile" style="margin-bottom: 40px">
          <div class="row">
            <div class="col-md-4">
              <div class="fp-wrap gray">
                <div
                  class="fpw-overlay-btm"
                  style="background-color: rgba(1, 125, 252, 0.3)"
                ></div>
                <img width = 200 height = 200 src ="https://d33wubrfki0l68.cloudfront.net/57e29cb9dced490a492b80abee44a56876f56f7a/f912a/images/konstantinos_balaskas.png"
                  class="fp-image img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-8">
              <h4 style="margin-top: 0">Dr Konstantinos Balaskas</h4>
              <span>Director of reading centre and clinical trials and digital eye health lead</span>
              <p></p>              
            </div>
          </div>
        </div>
      </div>

            
          </div>
        </div>
    
        <div class="spacer-double"></div>
    
</div>

    
<h3>Previous Members</h3>
<hr />

<p><strong>Person Name</strong>, Postdoctoral Fellow 2016 - 2022<br>
Next position: New Job</p>

<p><strong>Person Name</strong>, Postdoctoral Fellow 2016 - 2022<br>
Next position: New Job</p>


</div>

</div>
</div>
{{end}}
