{{ define "container" }}


<!-- <div class="container" > -->
    <!-- <div class="wow fadeInLeft animated" data-wow-delay="0s" style="background-size: cover; visibility: visible; animation-delay: 0s; animation-name: fadeInLeft;" bis_skin_checked="1"> -->
      <h3>Lab Members</h3>

      <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 200 height = 200   src="https://d33wubrfki0l68.cloudfront.net/635dffe54d5d42e0c38ecf8386e18959754d1258/42c32/images/pontikos_profile_small.png"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Nikolas Pontikos</h4>
                <span>Principal Investigator</span>
                <p>I am interested in the joint analysis of genetics and medical imaging to develop decision support systems for rare diseases.</p>
                
                
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 200 height = 200   src="https://d33wubrfki0l68.cloudfront.net/4eddcc27608c74ee33b931a5196418fbd2fbf9b1/c82a9/images/howard_profile.png"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Howard Maile</h4>
                <span>PhD Medical Imaging And AI</span>
                <p>I am a Moorfields Eye Charity funded PhD student working on corneal imaging and keratoconus, a rare eye disease.</p>
              
                
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 200 height = 200   src="https://d33wubrfki0l68.cloudfront.net/e3741a8a400eed3eb6db59092c9e9bf04b62c82a/ca27f/images/anita_profile.jpeg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Anita Szabo</h4>
                <span>Bioinformatics Research Assistant</span>
                <p>My main interest is in identifying and interpreting genetic variants associated with rare diseases.</p>
                
            
                
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 200 height = 200   src="https://d33wubrfki0l68.cloudfront.net/c3aeb4768e8e4edb85ae8537421b3f27afea151e/7d952/images/william_profile.jpeg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">William Woof</h4>
                <span>Postdoc Medical Imaging and AI</span>
                <p>I work on the AI medical imaging project Eye2Gene, I am also interested in reinforcement learning.</p>
              
                
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 200 height = 200   src="https://d33wubrfki0l68.cloudfront.net/36aae599c6506936207bee0b7fa6b35585ddcd19/914a0/images/advaith_veturi.jpeg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Advaith Yoga Veturi</h4>
                <span>Honorary Research Assistant Medical Imaging and AI</span>
                <p>I work on the AI medical imaging project SynthEye.</p>
                
            
                
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 200 height = 200   src="https://d33wubrfki0l68.cloudfront.net/435ab2d322213d82c3c46b12401724c72439e0c3/95db2/images/quang_nguyen.jpeg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Quang Nguyen</h4>
                <span>MRes/PhD student</span>
                <p>I am a PhD student in AI-enabled Healthcare at UCL primarily interested in NLP and medical ontologies.</p>
          
                
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 200 height = 200   src="https://d33wubrfki0l68.cloudfront.net/62abdc403dcfc37ea730e36b6f0d3f04befae39e/52c11/images/olivia_li.jpg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Dr Olivia Li</h4>
                <span>Honorary Clinical Research Fellow</span>
                <p>Undertaking research in utilising and implementing digital innovations including machine learning to support clinicians in diagnosing and managing anterior segment diseases</p>
           
                
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="f-profile" style="margin-bottom: 40px">
            <div class="row">
              <div class="col-md-6">
                <div class="fp-wrap gray">
                  <img width = 200 height = 200   src="https://d33wubrfki0l68.cloudfront.net/9b9f480308d0b6cb8d6d5bc332f1f0a32375a111/8d88e/images/tianyi_liao.jpeg"
                    class="fp-image img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h4 style="margin-top: 0">Tianyi Liao</h4>
                <span>Honorary Research Assistant, Genetics of Human Disease</span>
                <p>I am interested in identifying disease associated genes and variants.</p>
                
           
                
              </div>
            </div>
          </div>
        </div>

        
</div>
<hr />

<h3>Collaborators</h3>

<p><strong>Person Name</strong>, Person at Institution</p>

<p><strong>Person Name</strong>, Person at Institution</p>
    

<h3>Previous Members</h3>

<p><strong>Person Name</strong>, Postdoctoral Fellow 2016 - 2022<br>
Next position: New Job</p>

<p><strong>Person Name</strong>, Postdoctoral Fellow 2016 - 2022<br>
    Next position: New Job</p>


</div>

    </div>
  </div>
  {{end}}
